
.textDiv {
  height: 100px;
  width: auto;
  position: relative;
  margin-bottom: 10px;
}

.textArea {
  resize: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  font-size: 16px;
}

.innerButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 16px;
  color: #666666;
}

.commentBox {
  width: 100%;
  position: relative;
}

.commentBoxWrapper {
  display: flex;
}

.userName {
  font-weight: 700;
}

.commentFrame {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}

.commentDate {
  color: #666666;
  font-size: small;
}

.replyText {
  cursor: pointer;
  color: #666666;
  font-size: 14px;
  padding-left: 10px;
}

.commentIcon {
  position: absolute;
  top: 0;
  right: 0;
}
