

.headerContainer {
  height: 500px;
  padding-top: 30px;

  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}

.pageHeader {
  width: 1000px;
  /* padding-top: 50px; */
  padding-bottom: 10px;
  display: flex;
  /* position: relative; */
  justify-content: space-between;
}

.headerPostit {
  display: flex;
  position: relative;
}

.headerTemplate {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 10% ;
}

.headerDeco {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 25% ;
}

.headerFig {
  display: flex;
  justify-content: flex-end;
}

.postitP1 {
  position: absolute;
  top: 25%;
  left: 52.5% ;
}

.postitP2 {
  position: absolute;
  top: 40%;
  left: 52.5% ;
}

.postitP3 {
  position: absolute;
  top: 45%;
  left: 52.5% ;
}

.postitP4 {
  position: absolute;
  top: 50%;
  left: 52.5% ;
}

.writeBox {
  position: absolute;
  top: 65%;
  left: 53.75% ;
  width: 255px;
  height: 70px;
  /* border: 1px solid black;  */
  cursor: pointer;
  /* position: relative; */
}

.writeBox .innerText {
  position: absolute;
  top: 20px;
  left: 95px;

  font-size: 30px;
  color: #FE7A15;
}

.figureWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 10px;
  margin-bottom: 20px;
}

.figureTitle {
  font-weight: 600;
}

.figureItem {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.infoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
}