.header {
    width: 80vw;
    height: 70px;
    padding-left: 50px;
}

.contents {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.sign {
    ul{
        display: flex;
        list-style: none;

        li + li{
            margin-left: 30px;
        }
    }
}