.button_div {
    margin-left: 83%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.commentbtn {
    background-color: white;
    border: none;
}

.update_div {
    margin-left: 76%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.save_btn {
    background-color: #fa6400;
    border-color: grey;
    border-radius: 10%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.cancel_btn {
    background-color: beige;
    border-color: grey;
    border-radius: 10%;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.delete_btn {
    background-color: black;
    border-color: grey;
    border-radius: 10%;
    font-size: 20px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.board_title {
    font-size: 35px;
    /* text-align: center; */
}

.submit_btn {
    background-color: beige;
    border-color: grey;
    border-radius: 10%;
    padding: 5px;
    margin: 10px;
}

.textbox {
    width: 1196.3px;
    height: 300px;
    resize: none;
    border: none;
    font-size: 20px;
}

.update_textbox {
    width: 1196.3px;
    height: 300px;
    resize: none;
    border: none;
    font-size: 20px;
}

.user {
    border: none;
    height: 40px;
    font-size: 33;
    margin: 10px;
}

.write_page1 {
    background-color: #faf0e6;
    /* height: auto; */
    width: 1100px;
    margin: auto;
    /* border: double 2px black; */
    /* border-left: solid 1px black;
    border-right: solid 1px black; */
}

.write_page2 {
    margin-top: 40px;
}

.detailContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.detailWrapper {
    display: block;
}

.detailHeader {
    display: inherit;
    height: 50px;
    padding-top: 50px;
    align-self: flex-start;
}

.detailBody {
    width: 900px;
    box-sizing: border-box;
    padding: 50px;
    min-height: 600px;
    margin-bottom: 20px;
  }

.Box {
    border-radius: 2px;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 1px 3px 0px;
    border: 1px solid rgb(16, 22, 47);
  
    background-color: white;
  
  }

.toList {
    font-weight: 600;
    cursor: pointer;
    color: #fa6400;
  }

.contents {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: auto;
    overflow-y: auto;
    height: 500px;  
  }
  
.detailFooter {
    margin-bottom: 100px;
  }
  
.writeBtn {
    display: flex;
    justify-content: flex-end;
  }
  
.writeTitle {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
  }
  
.titleInput {
    /* padding-left: 10px;   */
    width: 100%;
  }

.upload_box {
    border: dashed black 2px;
    align-items: center;
    /* width: 100px; */
    /* margin-top: 20px; */
    /* margin-left: 38%; */
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.upload_box2 {
    margin-left: 8px;
    /* width: 200px; */
    /* height: 200px; */
    /* height: 50px; */
    /* border: black; */
    }

.line {
    border: inset .01px grey;
}

.title {
    border: none;
    height: 10px;
    font-size: 30px;
    width: 1196.3px;
}

.update_title {
    border: none;
    height: 100px;
    font-size: 30px;
    width: 1000px;
}

.position_left {
    position: absolute;
    top: 50%;
    left: 10%;
}

.position_right {
    position: absolute;
    top: 50%;
    right: 10%;
}

.h2 {
    font-size: 30px;
    /* font-family: 'SUITE-Regular'; */
    /* margin-top: 10px; */
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: 10px;
}

.h4 {
    font-size: 20px;
    font-family: 'SUITE-Regular';
    margin-top: 50px;
    margin-bottom: 20px;
}

.h5 {
    margin-top: 10px;
}

.img-container{
    width:100%;
    height: calc(100%/2 - 200px);
    margin-bottom: 30px;
}

.savebtn {
    background-color: "white";
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}