.Sidebar {
  position: fixed;
  background: radial-gradient(circle at center, #FFFFFF 45%, #FFD700 100%, #FFD700 1000%);
  width: 250px;
  top: 0;
  left: 0;
  height: 100%;
}
.logo {
  position: absolute;
  top: 2px;
  left: 20px;
}

.right {
  position: absolute;
  left: 228px;
  background-color: orange;
  top: 39px;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 60px;
}


.LogoExpanded {
  display: block;
}

.LogoCollapsed {
  display: none;
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

@font-face {
  font-family: '초보';
  src: url('/fonts/초보.ttf');
}

.l1 {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 27px;
  gap: 20px;
  margin-top: 90px;
  font-family: 초보;
  cursor: pointer;
  border-radius: 8px;
  
}
.l2 {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 27px;
  gap: 20px;
  margin-top: 30px;
  font-family: 초보;
  cursor: pointer;
  border-radius: 8px;
}
.l3 {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 27px;
  gap: 20px;
  margin-top: 30px;
  font-family: 초보;
  cursor: pointer;
  border-radius: 8px;
}
.l4 {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 27px;
  gap: 20px;
  margin-top: 30px;
  font-family: 초보;
  cursor: pointer;
  border-radius: 8px;
}
.l5 {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 27px;
  gap: 20px;
  margin-top: 30px;
  font-family: 초보;
  cursor: pointer;
  border-radius: 8px;
}
.l6 {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 27px;
  gap: 20px;
  margin-top: 50px;
  font-family: 초보;
  cursor: pointer;
  border-radius: 8px;
}

.editIcon1,
.editIcon2,
.editIcon3, 
.editIcon4, 
.editIcon5,
.editIcon6 {
  margin-left: 20px;
}


.l1:hover,
.l2:hover,
.l3:hover,
.l4:hover,
.l5:hover,
.l6:hover {
  background-color: orange;
}


.l1:hover .t1,
.l2:hover .t2,
.l3:hover .t3,
.l4:hover .t4,
.l5:hover .t5,
.l6:hover .t6 {
  animation: shake 0.5s linear infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-2deg);
  }
  20% {
    transform: translate(1px, 1px) rotate(2deg);
  }
  30% {
    transform: translate(-1px, -1px) rotate(-2deg);
  }
  40% {
    transform: translate(1px, 1px) rotate(2deg);
  }
  50% {
    transform: translate(-1px, -1px) rotate(-2deg);
  }
  60% {
    transform: translate(1px, 1px) rotate(2deg);
  }
  70% {
    transform: translate(-1px, -1px) rotate(-2deg);
  }
  80% {
    transform: translate(1px, 1px) rotate(2deg);
  }
  90% {
    transform: translate(-1px, -1px) rotate(-2deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}


.TextExpanded {
  display: block;
}

.TextCollapsed {
  display: none;
}