@font-face {
  font-family: 'Kimjungchul';
  src: url('/fonts/Kimjungchul.ttf');
}

.footerwrap {
  background-color: #FFDCC8;
  height: 200px;
  width: 100%;
  font-family: Kimjungchul;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
 
}

.line {
  width: 90%;
  height: 1.5px;
  margin: 0 auto;
  background-color: gray;
  
}

.container1,
.container2 {
  flex: 1;
}
.up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 180px;
  margin-top: 10px;
  
}
.text {
  font-size: 20px;
  font-family: Kimjungchul;
}

.iconwrap {
  text-decoration: none;
  gap: 20px;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: Kimjungchul;
}
.text3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  gap: 30px;
  color: white;

}

.text4 {
  font-family: Kimjungchul;
}
.text5 {
  font-family: Kimjungchul;
}

.iconwrap a:hover {
  animation: shake 0.3s ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
}
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}