@font-face {
  font-family: '초보';
  src: url('/fonts/초보.ttf');
}

.wrap {
  background-color: gray;
  height: 140px;
  width: 100%;
  font-family: 초보;
  font-size: 16px;
  position: relative;
  transform: translateY(-100%);
  margin-top: 595px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.kt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;

}
.logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  left: 552px;
  bottom: 10px;
}
.flex {
  position: relative;
  display: flex;
  gap: 18px;
  font-size: 25px;
  color: navy;
  alignItems: 'flex-end';
  text-decoration-line: none;
  left: 600px;
  bottom: 10px;
  
}
