
.modal_wrapper {
  flex-direction: row;
  display: flex;
}

.commentBox {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 350px;
}

.input_wrapper {
  display: flex;
  width: 350px;
}

.commentBody {
  padding: 10px;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  position: relative;
}

.editIcon {
  padding-top: 5px;
  padding-right: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.inputWrapper {
  padding: 10px;
  box-sizing: border-box;
}

.LikeWrapper {
  display: block;
  position: relative;
  height: 70px;
}


.LikeBtn {
  position: absolute;
  bottom: -30px;
  left: -20px;
}

.LikeNum {
  position: absolute;
  bottom: 8px;
  left: 60px;
  font-size: 20px;
}