@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 화면 너비가 769px 이상, 1024px 이하일 때 적용될 스타일 */
.header {
    font-size: 16px;
  }
}


.header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  z-index: 2;
}

/* .hideHeader {
  display: none;
}
.showHeader {
  height: 100px;
} */



.upperSection {
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lowerSection {
  height: 40px;
  width: 100%;
  background-color: #FEF8E2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lowerSection.scrolled {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.logoutContainer {
  /* margin-right: 20px; */
}

.menuItem {
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
  font-family: Kimjungchul;
}

.menuItem:hover {
  color: #fa6400;
  font-weight: bolder;
}

.logoutItem {
  font-size: 20px;
  cursor: pointer;
  background-color: #fa6400;
  color: white;
  border: white;
  width: 80px;
  height: 30px;
  border-radius: 100px / 80px;
  transition: transform 0.3s;
  position: relative;
  left: 240px;
  font-family: Kimjungchul;
}

.logoutItem:hover {
  transform: scale(1.1);
}
.alignRight {
  margin-left: auto;
}


